<br>
<p>靠北海大2.0 是由國立臺灣海洋大學資工系學生因嚴重不滿靠北海大的審稿效率而自發性製作的網站，藉以促進國立臺灣海洋大學師生們有一個優良的靠北環境。</p>
<p>為了提供歡樂、愉快、生氣蓬勃的靠北環境，創造價值，靠北海大2.0 製作團隊 製作此行為準則 (code of conduct)。</p>
<p>本公約適用於發文者在 靠北海大2.0 相關實體與數位場域中的一切言行。期望大家一起合作，讓 靠北海大2.0 充滿互敬與互信。</p>

<h2>行為準則</h2>
<p>發文者不可有騷擾言行。大會不容忍任何的騷擾或歧視。無分國籍、種族、語言、性別、性取向、年齡、身心狀況、信仰、職業、資歷、政治傾向、智力，每一位發文者都應該獲得同樣的尊重。</p>
<p>彼此尊重。每位發文者都應該抱持尊重的態度與行為。靠北海大2.0 的使用者來自不同的系所、身份背景。我們以非常多樣的方式使用 靠北海大2.0 。任何貶低國立臺灣海洋大學中其它成員的言行都是不適當的。</p>
<p>體貼他人。任何形式的性暗示，都不適於國立潭灣海洋大學中的任何場合。這些場合包含但不限於課堂、開放空間，社群媒體。請避免源自刻板印象的言行。</p>
<p>靠北海大2.0 製作團隊有權調整任何違反此準則的行為。僅需根據製作團隊的裁決，違反準則之文章可能必須被撤銷、刪除，並不得要求補發。</p>
<p>本行為準則由 靠北海大2.0 製作團隊認可執行。</p>
