<h3>你會寫 Code 嗎？ 你有任何資訊背景？</h3>
<h3>不論會不會寫 Code 不管有沒有資訊背景</h3>
<h3>我們都需要 你／妳 的幫忙</h3>
<br>
<h4>有聽過什麼叫做 Open Source（開放原始碼）嗎？</h4>
<p>不管你沒有曾經聽過至少在接下來的三分鐘你就會知道惹，Open Source 也可以說是所謂的自由軟體，
  自由軟體有「使用、研究、散布、改良」的自由，只要你有意願你可以成為任何一個 自由軟體／開源專案
  的一員，就算沒有「學習、研究、涉略」相關領域的 技術／技能 也可以發 "Issue" 給開發團隊任何建議和想法，
  如果剛好懂相關領域的東西可以發 "Pull Request (PR)" 協助專案的開發。</p>
<br>
<h4>協助我們</h4>
<p>如果你有興趣協助 靠北海大2.0 你可以 按下面那隻 Github 吉祥物──章魚貓 進到 靠海2.0 的 Github 頁面發 Issue or PR，
  如果想要成為開發團隊的一員也可以直接透過<a href="mailto:kobentou@rexwu.taipei">mail我們聯繫</a>，
  又或者是你可以成為審稿者協助人工審核有稍微違反行為準則的文章，不管任何方式只要有意願協助我們都很感謝你，
  由於 靠海2.0 是個開源專案沒有任何的薪水，全靠著燃燒開發團隊的熱忱在製作所以非常需要 你／妳 的任何協助。</p>
