*{
  margin:0;
  padding:0;
}
h1 {
  color: red;
}

.center {
  margin-left:120px;
  margin-right:120px;
  height:400px;
  text-align:center;
  line-height:50px;
  margin-top:10px;

}

body {
  background-color: #ddd;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
